<script>
    var error = "{{error}}";
    console.log(error);

    if(error!==null && error!==undefined && error!=="")
    {
        alert(error);
    }
</script>

<!--Logos-->
<div class="images">
    <div class="cards">
        <img src="/images/logoCSD.jpeg" alt="CSD Logo" height="180" width="230" class="special">
    </div>
    <div class="cards">
        <img src="/images/nitk.png" alt="NITK Logo" height="180" width="210" class="special">
    </div>
    <div class="cards">
        <img src="/images/FARC.png" alt="Club Logo" height="180" width="190" class="special">
    </div>
</div>
<!---->

<!--Login Area--> <!--Comments added for changes-->
<div class="box">
    <h1>Login</h1>
    <form method="post" action="http://localhost:3000/login"> <!--POST-->
        <div class="inputBox">
            <input type="text" name="username" required=""> <!--username-->
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required=""><!--password-->
            <label>Password</label>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>
<!---->

<!--<div class="member">
    <div class="chip">
        <img src="/images/logoCSD.jpeg" alt="CSD logo">
        <p class="name">Nishant Kumar</p>
        <p class="description"></p>
    </div>
    <div class="chip">
        <img src="/images/nitk.png" alt="NITK logo">
        <div class="detail">
            <p class="name">Yash Agarwal</p>
            <p class="description">Developer and CP enthusiasts</p>
        </div>
    </div>
    <div class="chip">
        <img src="/images/logoCSD.jpeg" alt="CSD logo">
        <p class="name">Shivam Potdar</p>
    </div>
</div>-->

<div class="member1">
    <img src="/images/logoCSD.jpeg" alt="CSD logo">
    <div class="detail">
        <p class="name">Nishant Kumar</p>
        <p class="description">Making students life difficult</p>
    </div>
</div>

<div class="member2">
    <img src="/images/yash-profile3.jpg" alt="CSD logo">
    <div class="detail">
        <p class="name">Yash Agarwal</p>
        <p class="description">Developer and CP enthusiasts</p>
    </div>
</div>

<div class="member3">
    <img src="/images/logoCSD.jpeg" alt="CSD logo">
    <div class="detail">
        <p class="name">Shivam Potdar</p>
        <p class="description">Making students life difficult</p>
    </div>
</div>

<div class="faculty1">
    <img src="/images/logoCSD.jpeg" alt="CSD logo">
    <div class="detail">
        <p class="name">Dr. Pruthviraj Umesh</p>
        <p class="description">Making students life difficult</p>
    </div>
</div>

<div class="faculty2">
    <img src="/images/logoCSD.jpeg" alt="CSD logo">
    <div class="detail">
        <p class="name">Dr. Pruthviraj Umesh</p>
        <p class="description">Making students life difficult</p>
    </div>
</div>