<script>
    var error = "{{error}}";
    console.log(error);

    if(error!==null && error!==undefined && error!=="")
    {
        alert(error);
    }
</script>

<!--Logos-->
<div class="images">
    <div class="cards">
        <img src="/images/logoCSD.jpeg" alt="CSD Logo" height="180" width="230" class="special">
    </div>
    <div class="cards">
        <img src="/images/nitk.png" alt="NITK Logo" height="180" width="210" class="special">
    </div>
    <div class="cards">
        <img src="/images/FARC.png" alt="Club Logo" height="180" width="190" class="special">
    </div>
</div>
<!---->

<h1 class="team_member">
    Team Members
</h1>

<h1 class="faculty">
    Faculty
</h1>

<!--Login Area--> <!--Comments added for changes-->
<div class="box">
    <h1>Login</h1>
    <form method="post" action="http://localhost:3000/login"> <!--POST-->
        <div class="inputBox">
            <input type="text" name="username" required=""> <!--username-->
            <label>Username</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required=""><!--password-->
            <label>Password</label>
        </div>
        <input type="submit" name="submit" value="Submit">
    </form>
</div>
<!---->

<!--<div class="member">
    <div class="chip">
        <img src="/images/logoCSD.jpeg" alt="CSD logo">
        <p class="name">Nishant Kumar</p>
        <p class="description"></p>
    </div>
    <div class="chip">
        <img src="/images/nitk.png" alt="NITK logo">
        <div class="detail">
            <p class="name">Yash Agarwal</p>
            <p class="description">Developer and CP enthusiasts</p>
        </div>
    </div>
    <div class="chip">
        <img src="/images/logoCSD.jpeg" alt="CSD logo">
        <p class="name">Shivam Potdar</p>
    </div>
</div>-->

<div class="member1">
    <img src="/images/nishant-profile.png" alt="CSD logo">
    <div class="detail">
        <p class="name">Nishant Kumar</p>
        <p class="description">Software Development professional with B.Tech in Information Technology from NITK. Skilled in Python, C++ & Android.</p>
    </div>
</div>

<div class="member2">
    <img src="/images/yash-profile3.jpg" alt="CSD logo">
    <div class="detail">
        <p class="name">Yash Agarwal</p>
        <p class="description">Sophomore student at NITK, pursuing B.Tech in Computer Science. Software Development and CP enthusiasts.</p>
    </div>
</div>

<div class="member3">
    <img src="/images/shivam-profile.jpg" alt="CSD logo">
    <div class="detail">
        <p class="name">Shivam Potdar</p>
        <p class="description">Electrical and Electronics Engineering student in B.Tech batch of'21. Interested in Microelectronics, Robotics and IoT.</p>
    </div>
</div>

<div class="faculty1">
    <img src="/images/pruthviraj-image.JPG" alt="CSD logo">
    <div class="detail">
        <p class="name">Dr. Pruthviraj U</p>
        <p class="description">Assistant Professor (Dept. of Applied Mechanics and Hydraulics).  Faculty adviser of FARC.</p>
    </div>
</div>

<div class="faculty2">
    <img src="/images/k-v-gangadharan-image.jpg" alt="CSD logo">
    <div class="detail">
        <p class="name">Dr. K. V. Gangadharan</p>
        <p class="description">Professor (Dept. of Mechanical Engineering).</p>
    </div>
</div>

<div class="date">
    Date of Completion - 18<sup>th</sup> February, 2019
</div>