/* styles.css styles */

html
{
    background-color: #ffffff;/*Background color changed*/
    height: 100%;
    /*background: linear-gradient(to bottom, #f2f2f2, #aad4e5);*/
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.images
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.cards
{
    margin-top: 22px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*.special
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
Image shadows removed
*/

/*Faculty and student Members*/

/*.member
{
    position: absolute;
    top: 40%;
    left:7%;
    background: #B0BEC5;
    height: 328px;
    width: 344px;
    border: 1px solid #000;
}

.member .chip
{
    background: #f2f2f2;
    height: 88px;
    width: 300px;
    line-height: 32px;
    border-radius: 60px;
    display: inline-block;
    padding-left: 20px;
    margin-top: 16px;
    margin-left: 20px;
}

.member .chip img {
    width: 80px;
    height: 80px;
    border: 2px solid #90A4AE;
    border-radius: 60px;
    float: left;
    margin-right: 28px;
    padding: 2px;
}*/

.detail {
    display: inline;
    margin-top: 12px;
}

.name {
    font-family: serif;
    font-size: 24px;
    color: #37474F;
    margin-top: 12px;
}

.description {
    font-style: italic;
    font-size: 15px;
    background: #90A4AE;
}

.member1
{
    position: absolute;
    top: 40%;
    left:7%;
    background: #F2F2F2;
    height: 108px;
    width: 344px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.member1 img {
    width: 90px;
    height: 90px;
    border: 2px solid #90A4AE;
    border-radius: 90px;
    float: left;
    margin-right: 28px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.member2
{
    position: absolute;
    top: 53%;
    left: 7%;
    background: #F2F2F2;
    height: 108px;
    width: 344px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.member2 img {
    width: 90px;
    height: 90px;
    border: 2px solid #90A4AE;
    border-radius: 90px;
    float: left;
    margin-right: 28px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.member3
{
    position: absolute;
    top: 66%;
    left: 7%;
    background: #F2F2F2;
    height: 108px;
    width: 344px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.member3 img {
    width: 90px;
    height: 90px;
    border: 2px solid #90A4AE;
    border-radius: 90px;
    float: left;
    margin-right: 28px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.faculty1
{
    position: absolute;
    top: 40%;
    right:9%;
    background: #F2F2F2;
    height: 108px;
    width: 344px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.faculty1 img {
    width: 90px;
    height: 90px;
    border: 2px solid #90A4AE;
    border-radius: 90px;
    float: left;
    margin-right: 28px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}

.faculty2
{
    position: absolute;
    top: 53%;
    right:9%;
    background: #F2F2F2;
    height: 108px;
    width: 344px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.faculty2 img {
    width: 90px;
    height: 90px;
    border: 2px solid #90A4AE;
    border-radius: 90px;
    float: left;
    margin-right: 28px;
    padding: 2px;
    margin-left: 5px;
    margin-top: 5px;
}


/* login.css styles */
.box
{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 420px;
    padding: 40px;
    background: #B0BEC5;/*Login page transparency removed*/
    box-sizing: border-box;
    /*box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); login page border removed*/
}

.box h1
{
    margin: 0 0 30px;
    font-size: 36px;
    padding: 10px;
    color: #37474F;
    text-align: center;
}
.box .inputBox
{
    position: relative;
}
.box .inputBox input
{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #37474F;
    letter-spacing: 1px;
    margin-bottom: 36px;
    border: none;
    border-bottom: 1px solid #37474F;
    outline: none;
    background: transparent;
}
.box .inputBox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #37474F;
    pointer-events: none;
    transition: 0.5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #37474F;
    font-size: 12px;
}
.box input[type="submit"]
{
    border: none;
    outline: none;
    background: #607D8B;
    margin-top: 20px;
    padding: 15px 35px;
    cursor: pointer;
}